body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    color: white;
    font-family: arial;
}
.clock{
    text-align: center;
    background: #333;
    padding: 30px;
    border-radius: 10px;
}
h2{
    font-size: 40px;
    
}